.navigacija > li {

    display: inline;

    padding-top: 2px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 4px;

    vertical-align: middle;

}

.navitems:hover {

    background-color: #ff0084;

}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: black;
}

.navigacija {
    border: solid black;
    /* padding: 5px; */
    width: fit-content;
    padding: 0px;
    height: 25px;
}

#datoteka {
    display: none;
}

.formInline {
    display: inline;
}

.klepetalnica {
    display: inline;
    float: left;
    margin-right: 30px;
    width: 200px;
}

.chat {
    width: 400px;
    border: black solid;
    border-radius: 15px;
    padding: 5px

}

.jazdiv {
    float: right
}

.drugidiv {
    float: left;
}

.jaz {
    text-align: right;
    border-radius: 15px;
    background: #ffea00;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 1px;

}

.drugi {
    text-align: left;
    border-radius: 15px;
    background: #00ffef;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 1px;
}

.chatdiv {
    width: 400px;
    overflow: hidden;
}

.vnosBesedila {
    float: right;
}

.casdrugi {
    font-size: 12px;
    margin-top: 1px;
    text-align: right;

}

.casjaz {
    font-size: 12px;
    margin-top: 1px;

}

.break {
    word-wrap: break-word;
    max-width: 350px;

}

.lastnikcas {
    margin-top: 1px;
    font-size: 12px;
}

.tema {
    word-wrap: break-word;
    max-width: 288px;

}

.temelevo {
    color: black;
    border: solid white;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 15px;
}

.forum {
    display: inline;
    float: left;
    margin-right: 30px;
    width: 300px;
}

.odgovortema {
    font-size: 15px;

}

.odgovortemalastnikcas {

    font-size: 12px;
}

.temaodgovor {
    padding: 3px;
    border-color: black;
    border-style: solid;
    margin: 2px;
    border-radius: 15px;

}

.oseba {
    color: black;
    border: dotted white;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 15px;
}

html {
    font-family: Calibri, monospace;

}

body {
    margin: auto;
    width: fit-content;
}

.dodajtemo {
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    padding-left: 3px;
    overflow: hidden;

}

.dodajtemoinput {
    width: 288px;
}

.temavprasanje {
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    padding-left: 3px;
    margin: 2px;
}

.temaodziv {
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    padding-left: 3px;
    background: #005EFF;
    margin: 2px;

}

.odziv {
    color: white;
}

.gumbtema {
    float: right;
    margin-bottom: 5px;
    margin-right: 3px;
    margin-top: 5px;
}

.temaodgovori {
    overflow: hidden;
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    padding-left: 3px;
    margin: 2px;
}

.dodajodgovor {
    margin-top: 5px;
}